:root {
  --main-background-color: #ffffff;

  /* Заголовки, тектс кнопок фильтра, навигация в шапке */
  --title-color: #212121;

  /* Основной текст, почта и телефон в шапке */
  --pfragrapf-color: #757575;

  /* Цвета логотипа */
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --footer-logo-color: #ffffff;

  /* При наведении на ссылки (текст) и при активации кнопок фильтра (фон) */
  --nav-hover-color: #2196f3;

  /* Фон кнопки на главной странице при наведении */
  --button-hover-bgc: #188ce8;

  /* Фон кнопок фильтра и фон секции команды*/
  --filter-button-bgc: #f5f4fa;

  /* Фон героя? и подвала */
  --footer-bgc: #2f303a;

  /* Почта и телефон в подвале */
  --address-color: rgba(255, 255, 255, 0.6);

  /* Рамка карточек проектов в портфолио */
  --project-border-color: #eeeeee;
}
