:root {
  --main-background-color: #ffffff;

  /* Заголовки h2-h3, тектс кнопок фильтра, навигация в шапке */
  --main-title-color: #212121;

  /* Основной текст, почта и телефон в шапке */
  --pfragrapf-color: #757575;

  /* Цвета логотипа */
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --footer-logo-color: #ffffff;

  /* При наведении на ссылки (текст) и при активации кнопок фильтра (фон) */
  --nav-hover-color: #2196f3;

  /* Фон кнопки на главной странице при наведении */
  --button-hover-bgc: #188ce8;

  /* Фон кнопок фильтра и фон секции команды*/
  --filter-button-bgc: #f5f4fa;

  /* Фон героя? и подвала */
  --footer-bgc: #2f303a;

  /* Почта и телефон в подвале */
  --address-color: rgba(255, 255, 255, 0.6);

  /* Рамка карточек проектов в портфолио */
  --project-border-color: #eeeeee;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  /* font-style: normal; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

/* ЛОГО */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header-part {
  color: #000000;
}

.logo-footer-part {
  color: #ffffff;
}

/* ШАПКА */
.site-nav .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-contacts .link {
  color: #757575;
}

.action:hover,
.action:focus {
  color: #2196f3;
}

.active:active {
  color: blueviolet;
}
/* КОНЕЦ ШАПКИ */

/* ГЕРОЙ */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.action-btn:hover,
.action-btn:focus {
  background-color: #188ce8;
}

/* ПРЕИМУЩЕСТВА */
.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ВОЗМОЖНОСТИ */
.abilities-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background-color: #f5f4fa;
}

.team-member,
.team-member-profesion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
}

.team-member-profesion {
  font-weight: 400;
  color: #757575;
}

/* ФИЛЬТР */
.projects-filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.projects-filter button:hover,
.projects-filter button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.projects-list a {
  text-decoration: none;
}

.projects-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ПОДВАЛ */
.footer {
  background-color: #2f303a;
}
.address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
}
/* КОНЕЦ ПОДВАЛА */
